body, html {
  margin: 0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  width: 1440px;
  font-weight: normal;
/* для сетки  
  background-image: url('nerds-index.jpg');
  background-repeat:  no-repeat;
  background-size: 1440px;
  background-color: transparent;
/* для сетки */  

}

.visible-hidden,
.price-active {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;  
}

.main-header,
.shop-header {
  margin: 0;
  padding: 0;
//  background-color: #eeeeee;
}

.site-navigation,
.catalog-list,
.features-list,
.goods-list,
.footer-social ul,
.grid-filter,
.characteristics-filter,
.sort-type-filter,
.sort-direction-filter,
.page-list,
.slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation a {
  color: #000000;
  font-size: 16px;
  line-height: 30px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.thesis b,
.shop-header h1 {
  font-size: 55px;
  line-height: 55px;
}

.thesis b {
  display: block;
  margin-bottom: -30px;

}

.thesis p {

  margin: 0;
  padding: 0;
  margin-bottom: 55px;

}

.btn {
  color: #ffffff;
  line-height: 18px;
  background-color: #fb565a;
}

.btn-more-info {
  padding: 15px 55px;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rbga(255,255,255,0.3);
}

.order-apps {
  background-color: #00ca74;
}

.order-apps:hover,
.order-apps:focus {
  background-color: #00bc6c;
}

.order-apps:active {
  background-color: #00aa62;
  color: rbga(255,255,255,0.3);
}

.order-presentations {
  background-color: #efc84a;
}

.order-presentations:hover,
.order-presentations:focus {
  background-color: #eab534;
}

.order-presentations:active{
  background-color: #e5a722;
  color: rbga(255,255,255,0.3);
}

.catalog-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.features b {
  font-size: 45px;
  line-height: 45px;
}

.features h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.features-item {
  line-height: 18px;
}

.features-item span {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.our-contacts,
.price-active p {
  font-size: 16px;
  line-height: 18px;
}

.our-contacts b,
.shop-filter h3,
.shop-sorting h3,
.price-active b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
}

.feedback-form h2 {
  font-size: 45px;
  line-height: 45px;  
}

.feedback-form label {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;  
}

.feedback-form input,
.feedback-form textarea,
.filter-form .input-price {
  font: inherit;
  background-color: transparent;
  border: 2px solid #d7dcde;
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form input:hover,
.feedback-form textarea:hover,
.filter-form .input-price:hover {
  border-color: #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus,
.filter-form .input-price:focus {
  border-color: #000000;
  color: #444444;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid,
.filter-form .input-price:invalid {
  border-color: #e74246;
  color: #e74246;
}

.shop-filter label {
  line-height: 22px;
}

.grid-filter label,
.characteristics-filter label {
  line-height: 20px;
  color: #283136;
}

.characteristics-item:disabled {
  color: rbga(40,49,54,0.3);
}

.sort-type-item a,
.sort-direction-item a{
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
}

.sort-type-item a:hover,
.sort-type-item a:focus,
.sort-direction-item a:hover,
.sort-direction-item a:focus  {
  color: rgba(0,0,0,0.6);
}

.sort-type-item a:active,
.sort-direction-item a:active {
  color: rgba(0,0,0,1);
}

.price-active {
  background-color: #eeeeee;
}

.page-item a {
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
}

.page-item a:hover,
.page-item a:focus {
  background-color: #dfdfdf;
}

.page-item a:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.price-button:hover,
.price-button:focus {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
}

.filter-form .button {
  color: #000000;
  background-color: #eeeeee;
}

.filter-form .button:hover,
.filter-form .button:focus {
  background-color: #dfdfdf;
}

.filter-form .button:active {
  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
}

/* сетка */
.main-header,
.shop-header {
  margin: 0;
  padding: 0;
  min-height: 545px;
  display: flex;
  flex-direction: column;
 // justify-content: space-around;
//  align-items: flex-start;
//  padding: 0 140px;
  padding-top: 50px;
}

.shop-header {
  min-height: 305px;
  margin-bottom: 33px;

}

.shop-header h1 {
  align-self: center;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
  min-height: 40px;
}

.basket {
  position: relative;
  width: 160px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  text-align: right;
  vertical-align: middle;
}

.basket::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 30px;
  left: 45px;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
//  background-color: #ff0000;
}

.header-block {
  display: flex;
}

.thesis {
  min-height: 80px;
  width: 380px;
  padding-top: 78px;
}

.slider {
  width: 780px;
  height: 420px;
}

.container {
  padding: 0 20px;
  width: 1160px;
  margin: 0 auto;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  min-height: 510px;
}

.catalog-item {
  width: 360px;
  padding-top: 260px;
}

.catalog-item p {
  display: block;
  width: 260px;
}

.features {
  display: flex;
  min-height: 530px;
  justify-content: space-between;
}

.features-list {
  display: flex;
  width: 360px;
  flex-wrap: wrap;

}

.features-item {
  width: 120px;
}

.features-left {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  width: 660px;
}

.features-right {
  margin-top: 38px;
  
}

.goods-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-item {
  width: 260px;
  height: 180px;
}

.cart {
  height: 440px;
  margin-top: 80px;
//  padding-top: 52px;
}

.our-contacts {
//  margin-left: 140px;
  width: 220px;
  height: 212px;
  padding: 48px 49px;
}

.footer-social {
  display: flex;
}

.social-list {
  display: flex;
  width: 260px;
}

.footer-container {
  margin-left: 140px;
}

.shop-content {
  display: flex;
  justify-content: space-between;
}

.filter-form {
  width: 260px;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.shop-goods-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.shop-goods-item {
  width: 360px;
  height: 615px;
  margin-bottom: 75px;
}

.shop-sorting {
  display: flex;
  justify-content: space-between;
}

.sort-type-filter {
  display: flex;
}

.sort-direction-filter {
  display: flex;
}

.page-list {
  display: flex;
}

.page-item {
  margin-right: 10px;
}